html {
  scroll-snap-type: y mandatory;
  font-weight: 400;
  /* scroll-snap-align: start; */
}

@media (prefers-color-scheme:dark) {
  section:nth-of-type(even) {
    color: white;
    /* background: #121212; */
    background: linear-gradient(to bottom, #121212 0%, #575757 100%);
  }

  section:nth-of-type(odd) {
    color: white;
    /* background: #575757; */
    background: linear-gradient(to bottom, #575757 0%, #121212 100%);
  }

  html {
    font-weight: 350;
  }
}

@media (prefers-color-scheme:light) {
  section:nth-of-type(even) {
    color: black;
    /* background: #F3ECDA; */
    background: linear-gradient(to bottom, #fdfbf8 0%, #F3ECDA 100%);
  }

  section:nth-of-type(odd) {
    color: black;
    background: linear-gradient(to bottom, #F3ECDA 0%, #fdfbf8 100%);
  }
}

section {
  position: sticky;
  scroll-snap-align: start;
  min-block-size: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: %; */

}

.sectionTwo {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  font-style: italic;
  border-bottom: solid seagreen 5px;
}

img {
  max-width: 70vh;
  max-height: 70vh;
  padding-left: 15px;
}

.follow {
  font-size: 2.5rem;
  padding-left: 50px;
}

/* section:nth-of-type(even) {
  color: black;
  background: #F3ECDA;
}

section:nth-of-type(odd) {
  color: black;
  background: white;
} */

.carousel {
  scroll-snap-type: x mandatory;
  /* scroll-padding: 0 10px; */
  overflow: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.item {
  scroll-snap-align: center;
  /* padding-left: 50px; */
  /* border-right: solid red 4px; */
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 35px;
}

ul {
  list-style-type: none;

}

/* a:visited {

} */

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}